/* shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color:  #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

.section-title {
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 65px;
    
}

nav a {
    text-decoration: none;
    color:  #474747;
}

/* header related styles */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png') , url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.profile-pic{
    width: 500px;
    height: 600px;
}

.banner-content {
    max-width: 500px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-top: 0px;
}


/* main section styles */
main {
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 130px;
}
/* about section styles */
.about {
    padding: 150px 150px 150px 150px;
    border-radius: 10px;
    background-color: #fae8db;
    margin: 130px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
} 
.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;

}

/* what i do section */
#what-i-do-description {
    padding: 30px 150px;
}

/* skiil section */
.skills-container{
    display: flex;
    gap: 24px;
}

.skills {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills-description  {
    padding: 30px;
    color:  #757575;
}

/* resume section */
.resume-colum-title {
    color:  #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px ;
}

.resume-item-title {
    color: var(--dark-02, #0c0c0c);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;

}

.resume-item-description , .resume-item-institute{
    color: var(--dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.resume-container hr {
    margin: 30px 0px;
}

.download-cv {
    margin-top: 50px;
    text-align: center;
}

/* footer section */
footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-colum {
    width: 50%;
}

.social-icons a {
    margin: 24px;
}

.contact-form input[type="text"] ,input[type="email"] ,textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: var(--dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    border: 0;
    border-radius: 5px;
    background: var(--white-color, #FFF);
    width: 100%;

}